

body {
  background-color: #0D1011 !important;
  font-family: 'poppins-regular';
  color: #ffffff;

}
h4{
font-family: 'poppins-semibold';
}
.card-title{
margin-top: 20px;
color: #090A0D;
 font-family: 'Poppins-Bold';
}

.card-text{
margin-top: 20px;
color: #090A0D;
 font-family: 'poppins-medium';
}

.card-body{
padding:2rem 2rem;
min-height: 290px;
}

.navbar{
padding-left: 80px;
padding-right: 80px;
background-color: #1A1D1F !important;
}

.logo{
width: 150px;
}

.download{
  color: #000000;
  border-radius: 50px;
  border:1px solid #ffffff;
  background-color: #ffffff;
  margin:2px;
  padding: 7px 14px;
  font-family: 'poppins-semibold';
}

.download:hover{
  color: #ffffff;
  border-radius: 50px;
  border:1px solid #ffffff;
  background-color: transparent;
  margin:2px;
  padding: 7px 14px;
  font-family: 'poppins-semibold';
}

.wholenav{
justify-content: flex-end;
}
.navbar-nav{
justify-content: space-evenly;
width: 500px;
}

.fixed-top{
position: sticky !important;
}

.navbar-nav>.active {
 
border-bottom: 4px solid #EEC781;

  
}
.nav-link{
color: #ffffff !important;
}

.bg1 {
  
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.heading1{
font-family: "Poppins-ExtraLight";
margin-top: 30px;
}

.bold1{
font-family: "Poppins-Bold";
}

.para1{
/*font-family: "Poppins-ExtraLight";*/
opacity: 75%;
margin-top: 10px;
font-size: 18px;
}
.blog1button{
background-color: #EEC781;
  padding: 7px 26px;
  border-radius: 40px;
  font-family: 'poppins-semibold';
  border:1px solid #EEC781;
  margin-top: 10px;
}

.blog1buttontext{
margin-left: 2px;
}

.blog2button{
background-color: #ffffff;
  padding: 7px 26px;
  border-radius: 40px;
  font-family: 'poppins-semibold';
  border:1px solid #ffffff;
  margin-top: 10px;
}

.blog2buttontext{
margin-left: 2px;
}


.bg3mobile{

  background-position: center;
  background-repeat: no-repeat;
height: 100vh;
width: auto;
overflow-x: hidden;

}

.bg3ipad{

  background-position: center;
  background-repeat: no-repeat;
height: 100vh;
width: 100%;

}

.bg7{
width: 100%;

background-position: center;
  background-repeat: no-repeat;
}

.btn2{
display: flex;
flex-direction: row;
justify-content: center;
}

.aboutcontent{
padding-top: 20px;
}
.aboutcontent > h2{
font-family: 'Poppins-Bold';
}
.aboutcontent > p{
/*font-family: 'Poppins-ExtraLight';*/
opacity: 70%;
font-size: 18px;
padding-top: 20px;
}

.aboutblog{
 height: 600px;
 width: 100%;
}

.carrerblog{
height: 100%;
width: 100%;
}

@media (max-width: 575.98px){
.navbar{
padding-left: 15px;
padding-right: 15px;
}
.logo{
width: 130px;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100% !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
}
.blog1{
height: 100%;
align-items: center;
}
.blogalign1{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.blogmobile{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 30px;
  
}

.blogmobile > img{
width: 50%;
height: 100%;
}

.heading1{
font-size: 1.5rem;
text-align: center;
}
.bg1 {
 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.para1{
font-size: 15px;
text-align: center;
}
.blogalign1 > img{
width: 40px !important;
height: 40px !important;
}

.bg2{
height: 100%;
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
}

.blog2{
height: 100%;
align-items: center;
}

.trigems{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}
.trigems > img{
width: 90%;
height: 100%;
}

.blog2content{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.blog2list{
  width: 100%;
  opacity: 70%;
  margin-top:10px;
  font-family: "poppins-medium";
}
.blog2list > ul{
padding: 0px;
  margin: 0px;
  
  text-align: center;
  list-style: none;
  font-size: 15px;
}

.bg6{
height: 100%;
width: 100%;
padding-top: 40px;;
}

.blog6{
height: 100%;
align-items: center;
}
.card-body{
height: 100%;
}

.card{
margin-bottom: 20px;
}


.bg7{
height: 100%;

}

.blog7{
align-items: center;
height: 600px;
}

.journey > p{
font-size: 22px !important;
}

.btn2{
flex-direction: column;
align-items: center;
justify-content: center;
}

.btn2 > a{
padding: 3px;
}

.btn2 > a > img{
width: 170px !important;
height: 60px !important;
}

footer{
height: 100%;
display:flex;
flex-direction: row;
align-items: center;
}

.footerblog{
padding-top: 50px;
padding-bottom: 50px;
}


.resource{
margin-top: 20px;
}

.address{
margin-top: 20px;
}

.group-footer{
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

.group-footer > ul{
display: flex;
flex-direction: column;
align-items: center;
}

.aboutblog{
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}

.aboutcontent{
display: flex;
flex-direction: column;
align-items: center;
}

.aboutblog > .aboutcontent >p{
font-size: 15px;
line-height: 24px;
text-align: justify;
}

.terms {
      width: 100% !important;
      padding: 20px !important;
      margin: 13px !important;
  }


  .terms > div > img{
    width: 40%!important;
  }



}


@media (min-width: 576px) and (max-width: 767.98px){

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100% !important;
  align-items: center;
}

.blog1{
height: 100vh;
}
.blogalign1{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.blogmobile{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  
}

.blogmobile > img{
width: 40%;
height: 100%;
}

.heading1{
font-size: 2rem;
text-align: center;
}
.bg1 {
  
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.para1{
font-size: 16px;
text-align: center;
}

.bg2{
height: 100vh;
width: 100%;
}

.blog2{
height: 100vh;
align-items: center;
}

.trigems{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}
.trigems > img{
width: 90%;
height: 100%;
}

.blog2content{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.blog2list{
  width: 100%;
  opacity: 70%;
  margin-top:10px;
  font-family: "poppins-medium";
}
.blog2list > ul{
padding: 0px;
margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg6{
height: 100%;
width: 100%;
}

.blog6{
height: 100%;
align-items: center;
}
.card-body{
height: 250px;
min-height: 210px;
}

.card{
margin-bottom: 20px;
}


.bg7{
height: 100%;
}

.blog7{
align-items: center;
height: 600px;
}

.btn2{
flex-direction: column;
align-items: center;
justify-content: center;
}

.btn2 > a{
padding: 3px;
}


footer{
height: 100%;
display:flex;
flex-direction: row;
align-items: center;
}

.footerblog{
padding-top: 50px;
padding-bottom: 50px;
}

.resource{
margin-top: 20px;
}

.address{
margin-top: 20px;
}

.group-footer{
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

.group-footer > ul{
display: flex;
flex-direction: column;
align-items: center;
}

.aboutblog{
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}

.aboutcontent{
display: flex;
flex-direction: column;
align-items: center;
}

.aboutblog > .aboutcontent >p{
font-size: 15px;
}

.terms {
      width: 90% !important;
      padding: 20px !important;
      margin: 13px !important;
  }

.terms > div > img{
    width: 40%!important;
  }

}


@media (min-width: 768px) and (max-width: 991.98px){
.navbar{
padding-left: 30px;
padding-right: 30px;
}

.navbar-nav {
  justify-content: space-evenly;
  width: 100% !important;
  align-items: center;
}
.blog1{
height: 100vh;
}
.blogalign1{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.blogmobile{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.blogmobile > img{
width: 35%;
height: 100%;
}

.heading1{
font-size: 2.5rem;
text-align: center;
}
.bg1 {
  
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg2{
height: 100vh;
width: 100%;
}

.blog2{
height: 100vh;
align-items: center;
}

.trigems{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}
.trigems > img{
width: 65%;
height: 100%;
}

.blog2content{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
}

.blog2list{
  width: 100%;
  opacity: 70%;
  margin-top:10px;
  font-family: "poppins-medium";
}
.blog2list > ul{
padding: 0px;
margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg6{
height: 100%;
width: 100%;
}

.blog6{
height: 100%;
align-items: center;
}
.card-body{
height: 320px;
}

.card{
margin-bottom: 20px;
}

.bg7{
height: 100%;
}

.blog7{
align-items: center;
height: 600px;
}

.btn2 > a{
padding: 5px;
}


footer{
height: 100%;
display:flex;
flex-direction: row;
align-items: center;
}

.footerblog{
padding-top: 50px;
padding-bottom: 50px;
}

.resource{
margin-top: 20px;
}

.address{
margin-top: 20px;
}

.group-footer{
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

.group-footer > ul{
display: flex;
flex-direction: column;
align-items: center;
}

.terms {
      width: 80% !important;
      padding: 20px !important;
      margin: 13px !important;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px){
.carrerblog{
height: 800px;
width: 100%;
}
.blogalign1{
height: 650px;
display: flex;
flex-direction: column;
justify-content: center;
}

.blogmobile{
display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 650px;
}

.blogmobile > img{
width: 50%;
height: 100%;
}

.heading1{
font-size: 2.5rem;
}
.bg1 {
  
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.bg2{
height: 650px;
width: 100%;
}

.trigems{
height: 600px;
display: flex;
flex-direction: column;
justify-content: center;
}
.trigems > img{
width: 80%;
height: 100%;
}

.blog2content{
height: 650px;
display: flex;
flex-direction: column;
justify-content: center;
}

.blog2list{
display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  opacity: 70%;
  margin-top:10px;
  font-family: "poppins-medium";
}
.blog2list > ul{
padding: 0px;
margin: 0px;
}

.bg3{
background-image: url(./images/multiapps.svg);
  background-position: center;
  background-repeat: no-repeat;
height: 100vh;
width: 100%;

}

.fan{
align-items: flex-end !important;
}
.bg6{
height: 100%;
width: 100%;
}

.blog6{
height: 600px;
align-items: center;
}
.card-body{
height: 300px;
}

.bg7{
height: 100%;
}

.blog7{
align-items: center;
height: 600px;
}

.btn2 > a{
padding: 5px;
}

footer{
height: 400px;
display:flex;
flex-direction: row;
align-items: center;
}

.resource{
margin-top: 50px;
}

.address{
margin-top: 50px;
}

.btn-foot{
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 110px;
}

.aboutblog{
display: flex;
flex-direction: column;
justify-content: center;
}

.terms {
      width: 100% !important;
      
  }


}



@media (min-width: 1200px){

.blogalign1{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.blogmobile{
display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

.blogmobile > img{
width: 45%;
height: 100%;
}

.heading1{
font-size: 3rem;
}
.bg1{
background-size: cover;
height: 100vh;
}

.bg2{
height: 100vh;
width: 100%;
}

.trigems{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
.trigems > img{
width: 80%;
height: 100%;
}

.blog2content{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.blog2list{
display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  opacity: 70%;
  margin-top:10px;
  font-family: "poppins-medium";
}
.blog2list > ul{
padding: 0px;
margin: 0px;
}

.bg3{
background-image: url(./images/multiapps.svg);
  background-position: center;
  background-repeat: no-repeat;
height: 100vh;
width: 100%;

}

.bg6{
height: 100%;
width: 100%;
}

.blog6{
height: 400px;
align-items: center;
}

.bg7{
height: 100%;
}

.blog7{
align-items: center;
height: 600px;
}

.btn2 > a{
padding: 5px;
}

footer{
height: 400px;
display:flex;
flex-direction: row;
align-items: center;
}

.resource{
margin-top: 50px;
}

/*.address{
margin-top: 50px;
}*/

.aboutblog{
display: flex;
flex-direction: column;
justify-content: center;
}

.carrerblog{
height: 600px;
width: 100%;
}

}

